.btn-link {
  padding: 0;
  font-weight: 400;
  color: #0d6efd;
  text-decoration: underline;
}

.block {
  display: block
}

footer {
  padding: 8px;
  background-color: lightgrey;
  color: black;
  align-items: end;
  height: 15;
  width: 150%;

}

.form-inline {
  display: flex;
  align-items: center;
}

.form-inline .form-control {
  margin-right: 5px;
  /* või kasutage Bootstrap'i .mr-sm-2 klassi */
}



.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}